@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Hacen-Saudi-Arabia.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: myFirstFont;
  background-image: url("../assets/images/eid.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-top: 3px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
  font-size: 18px;
}

#greeting {
  font-size: 32px;
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

#form input[type="text"] {
  width: 300px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  border: none;
  background-color: #fff;
  color: #333;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  body {
    background-size: auto;
  }
  .container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }
  #form input[type="text"] {
    width: 100%;
  }
}
